<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 justify-content-center align-self-center">
        <h2 class="">Moviespedia</h2>
      </div>
      <div class="col-sm-3 justify-content-center align-self-center">
        <ul class="default-list">
          <li>
            <h5>
              <a href="#">Movies</a>
            </h5>
          </li>
          <li>
            <a href="#">Top Rated</a>
          </li>
          <li>
            <a href="#">Most Popular</a>
          </li>
          <li>
            <a href="#">Upcoming</a>
          </li>
          <li>
            <a href="#">Now Playing</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 justify-content-center align-self-center">
        <ul class="default-list">
          <li>
            <h5>
              <a href="#">Series</a>
            </h5>
          </li>
          <li>
            <a href="#">Top Rated</a>
          </li>
          <li>
            <a href="#">Most Popular</a>
          </li>
          <li>
            <a href="#">On TV</a>
          </li>
          <li>
            <a href="#">Airing Today</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 justify-content-center align-self-center">
        <ul class="default-list">
          <li>
            <h5>
              <a href="#">People</a>
            </h5>
          </li>
          <li>
            <a href="#">Popular People</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>