<banner></banner>

<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Movies</h3>
        <div class="row">
          <div class="col-sm-6 mb-box default-animation">
            <a [routerLink]="['/details']">
              <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/wBzMnQ01R9w58W6ucltdYfOyP4j.jpg" class="rounded img-fluid">
              <div class="img-title">
                Thor Ragnarok
              </div>
            </a>
          </div>
          <div class="col-sm-6 mb-box default-animation">
            <a [routerLink]="['/details']">
              <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/wBzMnQ01R9w58W6ucltdYfOyP4j.jpg" class="rounded img-fluid">
              <div class="img-title">
                Thor Ragnarok
              </div>
            </a>
          </div>
          <div class="col-sm-6 mb-box default-animation">
            <a [routerLink]="['/details']">
              <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/mVr0UiqyltcfqxbAUcLl9zWL8ah.jpg" class="rounded img-fluid">
              <div class="img-title">
                Blade Runner
              </div>
            </a>
          </div>
          <div class="col-sm-6 mb-box default-animation">
            <a [routerLink]="['/details']">
              <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/mVr0UiqyltcfqxbAUcLl9zWL8ah.jpg" class="rounded img-fluid">
              <div class="img-title">
                Blade Runner
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>Series</h3>
        <div class="row">
          <div class="col-sm-6 mb-box default-animation">
            <a [routerLink]="['/details']">
              <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/h1qyblc5p9G3ZWIVK8ZrkpxcXgO.jpg" class="rounded img-fluid">
              <div class="img-title">
                The Walking Dead
              </div>
            </a>
          </div>
          <div class="col-sm-6 mb-box default-animation">
            <a [routerLink]="['/details']">
              <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/nGsNruW3W27V6r4gkyc3iiEGsKR.jpg" class="rounded img-fluid">
              <div class="img-title">
                The Big Bang Theory
              </div>
            </a>
          </div>
          <div class="col-sm-6 mb-box default-animation">
            <a [routerLink]="['/details']">
              <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/mmxxEpTqVdwBlu5Pii7tbedBkPC.jpg" class="rounded img-fluid">
              <div class="img-title">
                The Flash
              </div>
            </a>
          </div>
          <div class="col-sm-6 mb-box default-animation">
            <a [routerLink]="['/details']">
              <img #img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/gwPSoYUHAKmdyVywgLpKKA4BjRr.jpg" class="rounded img-fluid d-block mx-auto"
                (load)="adaptImg(img,title)">
              <span #title class="img-title {{className}}">
                Game of Thrones
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="dark-row">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Top Rated Movies</h3>
          <div class="row">
            <div class="col-sm-6 mb-box default-animation">
              <a [routerLink]="['/details']">
                <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/wBzMnQ01R9w58W6ucltdYfOyP4j.jpg" class="rounded img-fluid">
                <div class="img-title">
                  Thor Ragnarok
                </div>
              </a>
            </div>
            <div class="col-sm-6 mb-box default-animation">
              <a [routerLink]="['/details']">
                <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/wBzMnQ01R9w58W6ucltdYfOyP4j.jpg" class="rounded img-fluid">
                <div class="img-title">
                  Thor Ragnarok
                </div>
              </a>
            </div>
            <div class="col-sm-6 mb-box default-animation">
              <a [routerLink]="['/details']">
                <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/mVr0UiqyltcfqxbAUcLl9zWL8ah.jpg" class="rounded img-fluid">
                <div class="img-title">
                  Blade Runner
                </div>
              </a>
            </div>
            <div class="col-sm-6 mb-box default-animation">
              <a [routerLink]="['/details']">
                <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/mVr0UiqyltcfqxbAUcLl9zWL8ah.jpg" class="rounded img-fluid">
                <div class="img-title">
                  Blade Runner
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>Top Rated Series</h3>
          <div class="row">
            <div class="col-sm-6 mb-box default-animation">
              <a [routerLink]="['/details']">
                <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2/h1qyblc5p9G3ZWIVK8ZrkpxcXgO.jpg" class="rounded img-fluid">
                <div class="img-title">
                  The Walking Dead
                </div>
              </a>
            </div>
            <div class="col-sm-6 mb-box default-animation">
              <a [routerLink]="['/details']">
                <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/nGsNruW3W27V6r4gkyc3iiEGsKR.jpg" class="rounded img-fluid">
                <div class="img-title">
                  The Big Bang Theory
                </div>
              </a>
            </div>
            <div class="col-sm-6 mb-box default-animation">
              <a [routerLink]="['/details']">
                <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/mmxxEpTqVdwBlu5Pii7tbedBkPC.jpg" class="rounded img-fluid">
                <div class="img-title">
                  The Flash
                </div>
              </a>
            </div>
            <div class="col-sm-6 mb-box default-animation">
              <a [routerLink]="['/details']">
                <img #img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/gwPSoYUHAKmdyVywgLpKKA4BjRr.jpg" class="rounded img-fluid d-block mx-auto"
                  (load)="adaptImg(img,title)">
                <span #title class="img-title {{className}}">
                  Game of Thrones
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  