<banner urlImg="https://image.tmdb.org/t/p/w1400_and_h450_bestv2/vc8bCGjdVp0UbMNLzHnHSLRbBWQ.jpg"></banner>

<div class="container">
  <h1>Movies</h1>
  <div class="row">
    <div class="col-sm-6">
      <a class="element-panel-link" [routerLink]="['/details']">
        <div class="element-panel default-animation">
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/oSLd5GYGsiGgzDPKTwQh7wamO8t.jpg" />
          <div class="element-panel-content">
            <div class="element-panel-header">
              <span class="align-middle font-weight-bold">Thor Ragnarok</span>
              <div class="float-right">
                <span class="align-middle">7.7</span>
                <i class="material-icons align-middle">star</i>
              </div>
            </div>
            <div>
              <i class="material-icons align-middle">date_range</i>
              <span class="align-middle movie-details">2017</span>
              <span class="align-middle font-italic movie-details font-weight-light d-block">Action, Adventure, Comedy, Fan...</span>
            </div>
            <p class="movie-details movie-description">
              Thor is imprisoned on the other side of the universe and finds himself in a race against time to get back to Asgard to stop
              Ragnarok, the destruction of his homeworld and the end of Asgardian civilization, at the…
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6">

    </div>
  </div>
</div>