<banner urlImg="https://image.tmdb.org/t/p/w1400_and_h450_bestv2/bzoZjhbpriBT2N5kwgK0weUfVOX.jpg"></banner>

<div class="container">
  <div class="row row-details">
    <div class="col-sm-4 justify-content-center align-self-center">
      <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" class="rounded img-fluid" />
    </div>
    <div class="col-sm-8 justify-content-center align-self-center">
      <h1 class="mb-box">Breaking Bad
        <small class="text-muted">(2008)</small>
      </h1>
      <h4 class="rate mb-box">Rate:
        <span>76%</span>
      </h4>
      <h5>Overview</h5>
      <p>
        Thirty years after the events of the first film, a new blade runner, LAPD Officer K, unearths a long-buried secret that has
        the potential to plunge what's left of society into chaos. K's discovery leads him on a quest to find Rick Deckard,
        a former LAPD blade runner who has been missing for 30 years.
      </p>
    </div>
  </div>

  <h3>Cast</h3>
  <hr />
  <div class="row row-details">
    <div class="col-sm-2 mb-box default-animation">
      <div class="centralize">
      <a [routerLink]="['/details']" class="cast-box">
        <img src="https://image.tmdb.org/t/p/w138_and_h175_bestv2/5rOcicCrTCWye0O2S3dnbnWaCr1.jpg" class="img-fluid img-thumbnail"
        />
        <span>Ryan Gosling</span>
      </a>
    </div>
    </div>
    <div class="col-sm-2 mb-box default-animation">
      <a [routerLink]="['/details']" class="cast-box">
        <img src="https://image.tmdb.org/t/p/w138_and_h175_bestv2/5rOcicCrTCWye0O2S3dnbnWaCr1.jpg" class="img-fluid img-thumbnail"
        />
        <span>Ryan Gosling</span>
      </a>
    </div>
    <div class="col-sm-2 mb-box default-animation">
      <a [routerLink]="['/details']" class="cast-box">
        <img src="https://image.tmdb.org/t/p/w138_and_h175_bestv2/5rOcicCrTCWye0O2S3dnbnWaCr1.jpg" class="img-fluid img-thumbnail"
        />
        <span>Ryan Gosling</span>
      </a>
    </div>
    <div class="col-sm-2 mb-box default-animation">
      <a [routerLink]="['/details']" class="cast-box">
        <img src="https://image.tmdb.org/t/p/w138_and_h175_bestv2/5rOcicCrTCWye0O2S3dnbnWaCr1.jpg" class="img-fluid img-thumbnail"
        />
        <span>Ryan Gosling</span>
      </a>
    </div>
    <div class="col-sm-2 mb-box default-animation">
      <a [routerLink]="['/details']" class="cast-box">
        <img src="https://image.tmdb.org/t/p/w138_and_h175_bestv2/5rOcicCrTCWye0O2S3dnbnWaCr1.jpg" class="img-fluid img-thumbnail"
        />
        <span>Ryan Gosling</span>
      </a>
    </div>
    <div class="col-sm-2 mb-box default-animation">
      <a [routerLink]="['/details']" class="cast-box">
        <img src="https://image.tmdb.org/t/p/w138_and_h175_bestv2/5rOcicCrTCWye0O2S3dnbnWaCr1.jpg" class="img-fluid img-thumbnail"
        />
        <span>Ryan Gosling</span>
      </a>
    </div>
  </div>


  <h3>Recommendations</h3>
  <hr />
  <div class="row">
      <div class="col-sm-2 mb-box default-animation">
        <div class="centralize">
        <a [routerLink]="['/details']" class="cast-box">
          <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/fudEG1VUWuOqleXv6NwCExK0VLy.jpg" class="img-fluid img-thumbnail"
          />
          <span>Dunkirk</span>
        </a>
      </div>
      </div>
      <div class="col-sm-2 mb-box default-animation">
        <a [routerLink]="['/details']" class="cast-box">
          <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/fudEG1VUWuOqleXv6NwCExK0VLy.jpg" class="img-fluid img-thumbnail"
          />
          <span>Dunkirk</span>
        </a>
      </div>
      <div class="col-sm-2 mb-box default-animation">
        <a [routerLink]="['/details']" class="cast-box">
          <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/fudEG1VUWuOqleXv6NwCExK0VLy.jpg" class="img-fluid img-thumbnail"
          />
          <span>Dunkirk</span>
        </a>
      </div>
      <div class="col-sm-2 mb-box default-animation">
        <a [routerLink]="['/details']" class="cast-box">
          <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/fudEG1VUWuOqleXv6NwCExK0VLy.jpg" class="img-fluid img-thumbnail"
          />
          <span>Dunkirk</span>
        </a>
      </div>
      <div class="col-sm-2 mb-box default-animation">
        <a [routerLink]="['/details']" class="cast-box">
          <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/fudEG1VUWuOqleXv6NwCExK0VLy.jpg" class="img-fluid img-thumbnail"
          />
          <span>Dunkirk</span>
        </a>
      </div>
      <div class="col-sm-2 mb-box default-animation">
        <a [routerLink]="['/details']" class="cast-box">
          <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/fudEG1VUWuOqleXv6NwCExK0VLy.jpg" class="img-fluid img-thumbnail"
          />
          <span>Dunkirk</span>
        </a>
      </div>
    </div>
  

</div>